body{
	font-family: '微软雅黑'
}

header{
	height: 66px;
	background-color: rgb(58,110,146);
}
header .menu {
	float: right;
	font-size: 8px;
	padding: 24px 0px;

}
header .menu div{
	text-align: right;
}
header .menu a{

	
	color: rgb(255,255,255);
	text-decoration:none;
}
header .menu a:hover{
	text-decoration:underline;
}
header .logo{
	margin: 20px 0px;
}
header .logo a{
	font-weight: 800;
	font-size: 20px;
	color: rgb(255,255,255);
	text-decoration:none;
}
.conversation-create-box{
	padding-top: 120px;
}
.conversation-create-box .title input{
	height: 40px;
	width: 350px;
	border:1px RGB(201,216,219) solid;
	outline: none;
}
.conversation-create-box .title input{
	padding-left: 10px;
}