{% extends "layout/master.html" %}

{% block content %}
	<div class="container-16">
		<div class="acticle">
			<div class="item">
						<div class="title"><h1><a href="">Your ticket to the 2014 #LARAVEL</a></h1></div>
						<div class="profile">
							<ul>
								<li>
									<i class="fa fa-at"></i>jingdor
								</li>
								<li>
									<i class="fa fa-calendar"></i>14.11.12
								</li>
								<li>
									<i class="fa fa-tag"></i>Laravel,php,nginx
								</li>

							</ul>
						</div>
						<div class="summary">
							Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?
Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?
						</div>	
				
			</div>

						<div class="item">
						<div class="title"><h1><a href="">Your ticket to the 2014 #LARAVEL</a></h1></div>
						<div class="profile">
							<ul>
								<li>
									<i class="fa fa-at"></i>jingdor
								</li>
								<li>
									<i class="fa fa-calendar"></i>14.11.12
								</li>
								<li>
									<i class="fa fa-tag"></i>Laravel,php,nginx
								</li>

							</ul>
						</div>
						<div class="summary">
							Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?
Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?
						</div>	
				
			</div>

						<div class="item">
						<div class="title"><h1><a href="">Your ticket to the 2014 #LARAVEL</a></h1></div>
						<div class="profile">
							<ul>
								<li>
									<i class="fa fa-at"></i>jingdor
								</li>
								<li>
									<i class="fa fa-calendar"></i>14.11.12
								</li>
								<li>
									<i class="fa fa-tag"></i>Laravel,php,nginx
								</li>

							</ul>
						</div>
						<div class="summary">
							Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?
Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?
						</div>	
				
			</div>

						<div class="item">
						<div class="title"><h1><a href="">Your ticket to the 2014 #LARAVEL</a></h1></div>
						<div class="profile">
							<ul>
								<li>
									<i class="fa fa-at"></i>jingdor
								</li>
								<li>
									<i class="fa fa-calendar"></i>14.11.12
								</li>
								<li>
									<i class="fa fa-tag"></i>Laravel,php,nginx
								</li>

							</ul>
						</div>
						<div class="summary">
							Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?
Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?
						</div>	
				
			</div>
						<div class="item">
						<div class="title"><h1><a href="">Your ticket to the 2014 #LARAVEL</a></h1></div>
						<div class="profile">
							<ul>
								<li>
									<i class="fa fa-at"></i>jingdor
								</li>
								<li>
									<i class="fa fa-calendar"></i>14.11.12
								</li>
								<li>
									<i class="fa fa-tag"></i>Laravel,php,nginx
								</li>

							</ul>
						</div>
						<div class="summary">
							Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?
Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?
						</div>	
				
			</div>
						<div class="item">
						<div class="title"><h1><a href="">Your ticket to the 2014 #LARAVEL</a></h1></div>
						<div class="profile">
							<ul>
								<li>
									<i class="fa fa-at"></i>jingdor
								</li>
								<li>
									<i class="fa fa-calendar"></i>14.11.12
								</li>
								<li>
									<i class="fa fa-tag"></i>Laravel,php,nginx
								</li>

							</ul>
						</div>
						<div class="summary">
							Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?
Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?
						</div>	
				
			</div>
						<div class="item">
						<div class="title"><h1><a href="">Your ticket to the 2014 #LARAVEL</a></h1></div>
						<div class="profile">
							<ul>
								<li>
									<i class="fa fa-at"></i>jingdor
								</li>
								<li>
									<i class="fa fa-calendar"></i>14.11.12
								</li>
								<li>
									<i class="fa fa-tag"></i>Laravel,php,nginx
								</li>

							</ul>
						</div>
						<div class="summary">
							Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?
Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?Ahead of the American Music Awards, which songs and nominees have generated the most Twitter buzz?
						</div>	
				
			</div>


		</div>
	</div>


	<style type="text/css">
	.acticle>.item{
		padding-bottom: 20px;
	}
	.acticle>.item>.title>h1{
		font-size: 28px;
		padding-bottom: 20px;
	}
	.acticle>.item>.title a{
		text-decoration: none;
		color:#000;
	}
	.acticle>.item>.profile{
		padding-bottom: 10px;
		font-size: 12px;
	}
	.acticle>.item>.profile .fa{
		padding-right: 5px;
	}
	.acticle>.item>.profile li{
		display: inline-block;
		padding-right: 10px;
	}
	.acticle>.item>.summary{

	}
	.acticle>.item>.summary:first-letter{
		padding-left: 20px;

	}
	</style>


{% endblock %}






