<!DOCTYPE html>
<html>
    <head>
        <title>{{title | default('title')}}</title>
{% block meta %}{% endblock %}

{{stylesheetLink("css/normalize.css")}}
{{stylesheetLink("css/all.css")}}
{% block link %}{% endblock %}
{{ javascript_include("js/jquery-2.1.1.min.js") }}
{{ javascript_include("js/angular.min.js") }}
{{ javascript_include("js/angular-route.js") }}
{{ javascript_include("js/all.js") }}
{{ javascript_include("js/app.js") }}
{% block script %}
{% endblock %}
    </head>
    <body>
{{ partial("part/_header") }}
    <div id="container">
        {% block content %}{% endblock %}
    </div>
{{ partial("part/_footer") }}
    </body>
  {{ javascript_include("js/all.js") }}  
{% block style %}{% endblock %}
{% block js %}{% endblock %}
</html>